---
import Layout from "../layouts/Layout.astro";
import Feature from "../components/Feature.astro";
import Hero from "../components/Hero.astro";
import SectionSimple from "../components/SectionSimple.astro";
import Test2 from "../components/Test2";

---

<Layout>

  <Hero/>
  <Feature/>
  <SectionSimple/>
  <h3>hi joe</h3>
</Layout>
