
  <section class="bg-firewatch">
    <div class="h-screen">
      <div class="parallax overflow-y-auto overflow-x-hidden absolute top-0 bottom-0 right-0 ml-[-1500px] left-1/2 ">
        <div class=" absolute top-0 right-0 bottom-0 left-0  parallax__layer__0 ">
          <img class="block absolute bottom-0" 
            src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_0.png?raw=true"
          />
        </div>
        <div class="absolute top-0 right-0 bottom-0 left-0 parallax__layer__1">
          <img class="block absolute bottom-0"
            src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_1.png?raw=true"
          />
        </div>
        <div class="absolute top-0 right-0 bottom-0 left-0 parallax__layer__2">
          <img class="block absolute bottom-0"
            src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_2.png?raw=true"
          />
        </div>
        <div class="absolute top-0 right-0 bottom-0 left-0 parallax__layer__3">
          <img class="block absolute bottom-0"
            src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_3.png?raw=true"
          />
        </div>
        <div class="absolute top-0 right-0 bottom-0 left-0 parallax__layer__4">
          <img class="block absolute bottom-0"
            src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_4.png?raw=true"
          />
        </div>
        <div class="absolute top-0 right-0 bottom-0 left-0 parallax__layer__5">
          <img class="block absolute bottom-0"
            src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_5.png?raw=true"
          />
        </div>
        <div class="absolute top-0 right-0 bottom-0 left-0 parallax__layer__6">
          <img class="block absolute bottom-0"
            src="https://github.com/samdbeckham/blog/blob/master/dev/_assets/images/articles/firewatch/layer_6.png?raw=true"
          />
        </div>
        <div class="bg-[#2d112b] top-full block absolute left-0 right-0 h-[1000px] z-10"></div>
      </div>
    </div>
  </section>
<style>
  
  .parallax {
    -webkit-perspective: 100px;
    perspective: 100px; 
  }
  
  .parallax__layer__0 {
    -webkit-transform: translateZ(-300px) scale(4);
    transform: translateZ(-300px) scale(4);
  }
  
  .parallax__layer__1 {
    -webkit-transform: translateZ(-250px) scale(3.5);
    transform: translateZ(-250px) scale(3.5);
  }
  
  .parallax__layer__2 {
    -webkit-transform: translateZ(-200px) scale(3);
    transform: translateZ(-200px) scale(3);
  }
  
  .parallax__layer__3 {
    -webkit-transform: translateZ(-150px) scale(2.5);
    transform: translateZ(-150px) scale(2.5);
  }
  
  .parallax__layer__4 {
    -webkit-transform: translateZ(-100px) scale(2);
    transform: translateZ(-100px) scale(2);
  }
  
  .parallax__layer__5 {
    -webkit-transform: translateZ(-50px) scale(1.5);
    transform: translateZ(-50px) scale(1.5);
  }
  
  .parallax__layer__6 {
    -webkit-transform: translateZ(0px) scale(1);
    transform: translateZ(0px) scale(1);
  }
  
</style>